<style type="text/css">
  .five9-chat-button {
  font-size: 76px !important;
  }
  .five9-chat-button:after {
  content: " Now" !important;
  }
  #five9-popout-button {
  float: right;

.five9-action-btn {
    /* border: 1px solid #31ff90 !important; */
    background-color: #43ab35 !important;
    color: #fff !important;
    font-size: 36px !important;
    line-height: .70;
}
    
} </style>
                  
