<style type="text/css">
  .five9-chat-button {
  font-size: 76px !important;
  }
  .five9-chat-button:after {
  content: " Now" !important;
  }
  #five9-popout-button {
  float: right;

.five9-action-btn {
    border: 1px
px
 solid #1360AB !important;
    background-color: #288DC1 !important;
    color: #fff !important;
    font-size: 25px !important;
    line-height: .5;
}

} </style>
                  